{% assign defaultlang = settings['LanguageLocale/Code'] | default: 'en-' %}
{% assign homeurl = website.adx_partialurl %}
    
<header>
    <div id="wb-bnr" class="container">
        <section id="wb-lng" class="text-right">
            <h1 class="wb-inv">Language selection</h1>
            <ul class="list-inline margin-bottom-none">
    {% if website.languages.size > 1 %}
     {% for language in page.languages %}
      {% if language.name != website.selected_language.name %}
       <li>
        <a href="/{{ language.url_substitution }}" title="{{ language.name }}" data-code="{{ language.code }}">{{ language.name }}</a>
       </li>
      {% endif %}
     {% endfor %}
                {% endif %}
            </ul>

        </section>
        <div class="row">
            <div class="brand col-xs-5 col-md-4" property="publisher" typeof="GovernmentOrganization">
            {% if website.selected_language.Name == "English" %}
                <a href="/" property="url"><img src="/GCWeb/assets/sig-blk-en.svg" alt="Government of Canada" property="logo"></a>
            {% else %}
                <a href="/" property="url"><img src="/GCWeb/assets/sig-blk-fr.svg" alt="Gouvernement du Canada" property="logo"></a>
            {% endif %}
                <meta property="areaServed" typeof="Country" content="Canada">
                <link property="logo" href="/GCWeb/assets/wmms-blk.svg">
            </div>
            <section id="wb-srch" class="col-lg-8 text-right">
                <h2>Search</h2>
    {% if website.selected_language.Name == "English" %}
     {% assign languageCode = "en" %}
    {% else %}
     {% assign languageCode = "fr" %}
    {% endif %}
                <form action="https://www.canada.ca/{{languageCode}}/sr/srb.html" method="get" name="cse-search-box" role="search" class="form-inline">
                    <div class="form-group">
                        <label for="wb-srch-q" class="wb-inv">{{ snippets["Header/SearchCanadaText"] }} </label>
                        <input id="wb-srch-q" list="wb-srch-q-ac" class="wb-srch-q form-control" name="q" type="search"
                            value="" size="34" maxlength="170" placeholder="{{ snippets['Header/SearchCanadaText'] }}">
                        <datalist id="wb-srch-q-ac">
                        </datalist>
                    </div>
                    <div class="form-group submit">
                        <button type="submit" id="wb-srch-sub" class="btn btn-primary btn-small"
                            name="wb-srch-sub"><span class="glyphicon-search glyphicon"></span><span
                                class="wb-inv">Search</span></button>
                    </div>
                </form>
            </section>
        </div>
    </div>
    <nav class="gcweb-menu" typeof="SiteNavigationElement" aria-label="menu">
        <div class="container">
            <h2 class="wb-inv">Menu</h2>
            <button type="button" aria-haspopup="true" aria-expanded="false"><span class="wb-inv">Main </span>Menu <span
                    class="expicon glyphicon glyphicon-chevron-down"></span></button>
            <ul role="menu" aria-orientation="vertical">
                {% if user %}
                <li role="presentation"><a role="menuitem" href="/profile">{{ snippets["links/profile"] }}</a></li>
                <li role="presentation"><a role="menuitem" href="/my-requests">{{ snippets["links/myrequests"] }}</a></li>
                <li role="presentation"><a role="menuitem" href="/">{{ snippets["links/services"] }}</a></li>
                                 
                <li role="presentation">
                    <a role="menuitem"
                        aria-label="{{ snippets["links/logout"] | default:resx["Sign_Out"] | h | escape }}"
                        href="{% if homeurl%}/{{homeurl}}{% endif %}/Account/Login/LogOff?returnUrl={{"home-acceuil"|escape}}"
                        title="{{ snippets["links/logout"] | default:resx["Sign_Out"] | h | escape }}">
                        {{ snippets["links/logout"] }} </a>
                </li>
<!-- href="{% if homeurl%}/{{ homeurl }}{% endif %}{{ website.sign_out_url_substitution }}" -->
                {% else %}
                <li role="presentation"><a role="menuitem" href="/SignIn">{{ snippets["links/profile"] }}</a></li>
                <li role="presentation"><a role="menuitem" href="/">{{ snippets["links/home"] }}</a></li>
                {% endif %}

            </ul>
        </div>
    </nav>
</header>

<br><br>