<main property="mainContentOfPage">
<div class="wrapper-body">
  <div class="container">
  <div class="page-heading">
    {% block breadcrumbs %}
      {% include 'Breadcrumbs' %}
    {% endblock %}

    {% block title %}
      {% assign parentPageTitle = page.parent.title %}
      {% include 'Page Header' title: parentPageTitle %}
    {% endblock %}
 </div>
 <div class="row">
  <div class="col-md-4">
   {% block navigation %}
   {% endblock %}
  </div>
  <div class="col-md-8">
   {% block main %}
    {% include 'Page Copy' %}
   {% endblock %}
   {% block nextPrevious %}
   {% endblock %}
  </div>
 </div>
</div>
<div class ="push"></div>
</div>
</main>