{% extends 'Layout 1 Column' %}

{% block navigation %} 

{% assign current_page = current_page | default: page %}
{% assign parent_page = current_page.adx_parentpageid %}


{% endblock %}

{% block main %}
<script>
$("#wb-bc").hide();
$(".pull-left").hide();
$(".list-group-item").children(".fa-user").parent().hide()
</script>
  {% include 'Page Copy' %}
  
  {% if page.adx_entitylist %}
    {% include 'entity_list' key: page.adx_entitylist.id %}
  {% endif %}
  
  {% if page.adx_entityform %}
    {% entityform id: page.adx_entityform.id %}
  {% endif %}
  
  {% if page.adx_webform %}
    {% webform id: page.adx_webform.id %}
  {% endif %}
  
  <div class="page-metadata clearfix">
    {% editable snippets "Social Share Widget Code Page Bottom" type: 'text' %}
  </div>
{% endblock %}

{% block nextPrevious %}
  {% if parent_page %}
    {% include "Web Link Button" weblink_set_name: parent_page.name %}
  {% endif %}
{% endblock %}
